.menu-button {
  background-color: #ffffff; 
  color: rgb(10, 10, 10);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.menu-button:hover {
  background-color: #abadab; 
}

.menu-block {
  background-color: #3b4161;

  width: 100%;
}

.header {
  background-color: #fdf9ed;
}

.footer {
  width: 100%;
  background-color: #fdf9ed;
}

.home-picture {
  width: 100%;
}